body, .body {
    background-color: #fff !important;
    max-width: 1000px !important;
    margin: auto !important;
}
		.header {
			text-align: center !important;
			color: #000 !important;
			margin: 20px 0 !important;
		}
	
		.ad-banner {
			display: flex !important;
			justify-content: center !important;
			align-items: center !important;
			margin: auto !important;
		}
		
		.main-content {
			max-width: 800px !important;
			margin: 0 auto !important;
			text-align: justify !important;
			padding: 20px !important;
			color: #000 !important;
		}
		.footer {
    text-align: center !important;
    color: #000 !important;
    margin: auto !important;
    padding-top: 100px !important;
}
		
	.h2, h2 {
        font-size: 26px !important;
		font-family: 'Raleway', sans-serif !important;
}	
		
.h1, h1 {
    font-size: 1.6rem !important;
    font-family: 'Libre Baskerville', serif !important;
    margin-bottom: 28px !important;
    font-weight: 600;
    line-height: 2em;
    text-align: left;
}
		
p {
    margin-top: 0 !important;
    margin-bottom: 2rem !important;
    font-size: 18px !important;
    font-family: 'Libre Baskerville', serif !important;
    font-weight: 400 !important;
    line-height: 2em !important;
}	
